<section class="main-content">
    <br><br>
    <div class="center"> <div class="wrapper"><h1>Ajouter matiere </h1></div>
   
  <form #f="ngForm" [formGroup]="formMatiere">
  
    <div class="form-group">
      <label>nom</label>
      <input type="text" name="nom"  class="form-control" [(ngModel)]="matiere.nom" formControlName="nom"> 
    </div>
  
    <div class="form-group">
        <label>specialite</label>
        <input type="text" name="specialite"  class="form-control" [(ngModel)]="matiere.specialite" formControlName="specialite"> 
      </div>
      <div class="form-group">
        <label>nbrheure</label>
        <input type="text" name="nbrheure"  class="form-control" [(ngModel)]="matiere.nbrheure" formControlName="nbrheure"> 
      </div>


    
  
    <div class="buttons">
      <div class="container">
          <a  (click)="updateMatiere(f.value)" class="btn effect01" target="_blank" ><span>Update</span></a>
      </div>
    </div>
    
    </form>
  </div>
</section>