<!DOCTYPE html>
<html>
<head>
<title></title>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>


<main class="d-flex flex-nowrap res" >
  <!--*****************************  SIDE BAR  **********************************************-->
 <app-sidebar></app-sidebar>
<!--   tableau      tableau     tableau     tableau    tableau    tableau  tableau  tableau -->
<div class="container" >
  <div class="container">
    <h1 class="title">LES EVENEMENTS</h1>
  </div>
  <table class="table table-striped table-responsive" >
    <thead>
    <tr>
      <th>Nom de l'évènement</th>
      <th>Responsable</th>
      <th>Date de Début</th>
      <th>Heure de Début</th>
      <th>Date de Fin</th>
      <th>Heure de Fin</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let E of listEvenement">
      <td>{{E.nom}}</td>
      <td>{{E.responsable}}</td>
      <td>{{E.datedebut}}</td>
      <td>{{E.heuredebut}}</td>
      <td>{{E.datefin}}</td>
      <td>{{E.heurefin}}</td>
      <td>
        <div >
          <input type="hidden" value="{{E._id}}" #id1  name="secretid1">
          <input type="hidden" value="{{E.details}}" #id2 name="secretid2">
<!--          <a [routerLink]="['/details/',E.details]" >detail</a>-->
        <button type="button" class="btn btn-outline-primary btn-sm" [routerLink]="['/details/',E.details]" >Details</button>
        <button class="btn btn-outline-warning btn-sm" type="button" [routerLink]="['/modifier/',E._id,E.details]">Modifier</button>
        <button class="btn btn-outline-danger btn-sm" type="button" [routerLink]="['/delete/',E._id]">Supprimer</button>
        </div>
      </td>

    </tr>

    </tbody>
  </table>

</div>
</main>
<script>
</script>
</body>
