<section class="main-content">

  <div class="card">
    <div class="wrapper"><h1>Update Notes</h1></div>
    <div class="card-body">
      <form #f="ngForm" [formGroup]="formNote">
        <div class="form-group">
        <label>matiere</label>
        <input
          type="text"
          name="matiere"
          [(ngModel)]="note.matiere"
          formControlName="matiere"
          class="form-control"
        />
        </div>
        <div class="form-group">
        <label>type</label>
        <select name="type" [(ngModel)]="note.type" formControlName="type" class="form-control">
          <option value="DS" class="form-control">DS</option>
          <option value="Exam" class="form-control">Exam</option>
        </select>
        </div>
        <div class="form-group">
        <label>note</label>
        <input
          type="number"
          name="note"
          [(ngModel)]="note.note"
          formControlName="note"
          class="form-control"
        />
        </div>
        <div class="form-group">
        <label>étudiant</label>
        <input
          type="text"
          name="etudiant"
          [(ngModel)]="note.etudiant"
          formControlName="etudiant"
          minlength="10"
          class="form-control"
        />
        </div>
        <button
          type="submit"
          class="btn btn-primary mr-3"
          (click)="updatenote(f.value)"
        >
          UPDATE
        </button>
        <input
        value="RETOUR"
        class="btn  mar"
        (click)="goback()"
        style="background-color: grey;"
       
      />
      </form>
    </div>
  </div>
</section>
