



  

<section class="main-content">


  
    <div class="center"> <div class="wrapper"><h1>Ajouter Comptabilité</h1></div>
    <form ngForm #f="ngForm">
    
          <div class="form-group">
            <label for="montnt">Montant:</label>
            <input type="number"  [(ngModel)]="compta.montant" placeholder="montant" name="montant" class="form-control" id="montant" [class.is-invalid]="montant.invalid && montant.touched" required #montant="ngModel">
          </div>
        
          <div class="form-group">
            <label for="fournisseur">Sens:</label>
            <input type="text"[(ngModel)]="compta.sens" placeholder="sens" name="sens" class="form-control" id="sens" [class.is-invalid]="sens.invalid && sens.touched" required #sens="ngModel">
          </div>
          <div class="form-group">
            <label for="desc">Description</label>
            <input type="text" [(ngModel)]="compta.desc" placeholder="desc" name="desc" class="form-control" id="desc" [class.is-invalid]="desc.invalid && desc.touched" required #desc="ngModel">
          </div>

     
          <div class="form-group">
            <label for="date">Date</label>
            <input type="date" [(ngModel)]="compta.date" placeholder="date" name="date" class="form-control" id="date" required [class.is-invalid]="date.invalid && date.touched" #date="ngModel">
          </div> 
          <div class="buttons">
            <div class="container">
                <a  (click)="savedata(f.value)" class="btn effect01" target="_blank"   routerLink="/afficherCompta"><span>Ajouter</span></a>
            </div>
            <input

            type="file"
            name="url"
            id="inputGroupFile01"
            aria-describedby="inputGroupFileAddon01"
            accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            (change)="addfile($event)" 
          />
          </div>
         
        </form>
        </div>
    </section>
      
