


<section class="main-content">
    <br><br>
      <div class="center"> <div class="wrapper"><h1>Ajouter matiere</h1></div>
      <form ngForm #f="ngForm">
      
            <div class="form-group">
              <label for="nom">nom:</label>
              <input type="text"  [(ngModel)]="matiere.nom" placeholder="nom" name="nom" class="form-control" id="nom" [class.is-invalid]="nom.invalid && nom.touched" required #nom="ngModel">
            </div>
          
            <div class="form-group">
              <label for="specialite">specialite:</label>
              <input type="text"[(ngModel)]="specialite.sens" placeholder="specialite" name="specialite" class="form-control" id="specialite" [class.is-invalid]="specialite.invalid && specialite.touched" required #specialite="ngModel">
            </div>
          
            <div class="form-group">
              <label for="nbrheure">nbrheure</label>
              <input type="text" [(ngModel)]="matiere.nbrheure" placeholder="nbrheure" name="nbrheure" class="form-control" id="nbrheure" [class.is-invalid]="nbrheure.invalid && nbrheure.touched" required #nbrheure="ngModel">
            </div>
          
            <div class="buttons">
              <div class="container">
                  <a  (click)="savedata(f.value)" class="btn effect01" target="_blank" ><span>Ajouter</span></a>
              </div>
              <input
              type="file"
              class="custom-file-input"
              id="inputGroupFile01"
              aria-describedby="inputGroupFileAddon01"
              accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
              (change)="addfile($event)" 
            />
            </div>
           
          </form>
          </div>
        </section>      
  